<div class="main-aside">
    <div class="user">
        <svg  class="icon" width="7rem" height="7rem">
            <use xlink:href=../../../../assets/images/svgsprite.svg#user></use>
        </svg>
        <h2 class="user-name">Célia BELLOD</h2>
    </div>
    <div class="aside-content">
        <nav class="nav">
            <a href="dashboard" class="nav-link">My extractions</a>
            <a href="extraction/new" class="nav-link">Add an extraction</a>
        </nav>
        <p class="logout">
            <img src="../../../../assets/images/enter.svg" alt="" width="20">
            Log out
        </p>
    </div>
</div>