.btn {
    padding: 0.5rem 0;
    border:none;
    border-radius: 10px;
    font-size: $font-size-text;
    font-family: $font-text;
    cursor: pointer;
    align-self: center;
    margin-top:2rem;
    &:disabled {
        opacity: 0.5;
    }
    &.btn-secondary {
        background-color: $color-secondary;
        color: #fff;
    } 
    &.is-small {
        width: 20%;
    }
    &.is-large {
        width:40% !important;
    }
    &.btn-account {
        margin-top: 6rem;
    }
}

.btn-more {
    background: transparent;
    border: none;
    margin-bottom: 3rem;
    cursor: pointer;
}


@media screen and (min-width: 960px) {
    .btn {
        &.btn-extraction {
            width: 25%;
        }
    }
}