.icon {
    &.is-white {
        fill: #fff;
    }
    &.is-secondary {
        fill: $color-secondary;
    }
    &.is-medium {
        width: 7rem;
        height: 7rem;
    }
    &.is-large {
        width: 15rem;
        height: 15rem;
    }
}


@media screen and (max-width: 960px) {
    .icon.login {
        fill: $color-primary;
        width: 10rem;
        height: 10rem;
    }
}