.icon {
    fill: #fff;
}

.icon.login {
    width: 15rem;
    height: 15rem;
}

@media screen and (max-width: 960px) {
    .icon.login {
        fill: $color-primary;
        width: 10rem;
        height: 10rem;
    }
}