.title {
    font-weight: bold;
    font-family: $font-title;
    &.is-1 {
        color: $color-primary;
        font-size: $font-size-title;
    }
    &.is-2 {
        color: $color-secondary;
        font-size: $font-size-title;
    }
    &.is-3 {
        color: $color-secondary;
        font-size: 1.5rem;
    }

}