body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.title {
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.title.is-1 {
  color: #3E4E68;
  font-size: 3rem;
}
.title.is-2 {
  color: #E62F7B;
  font-size: 3rem;
}
.title.is-3 {
  color: #E62F7B;
  font-size: 1.5rem;
}
.title.is-4 {
  color: #fff;
  font-size: 1.5rem;
}

.btn {
  padding: 0.5rem 0;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}
.btn.btn-secondary {
  background-color: #E62F7B;
  color: #fff;
}
.btn.btn-extraction {
  width: 25%;
}

.btn-more {
  background: transparent;
  border: none;
  margin-bottom: 3rem;
  cursor: pointer;
}

.pagination {
  margin-bottom: 10rem;
  align-self: flex-end;
}

.icon {
  fill: #fff;
}

.form {
  height: 100vh;
}
.form-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3E4E68;
}
.form-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-right .form-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 60%;
}
.form-right .form-container .form-title {
  margin-bottom: 6rem;
  align-self: center;
}
.form-right .form-container .form-info {
  align-self: flex-start;
  margin-top: 8rem;
  font-family: "Montserrat", sans-serif;
  color: #3E4E68;
  width: 40%;
  line-height: 1.5rem;
}
.form-right .form-container .form-btn {
  width: 50%;
  align-self: center;
  margin-top: 2rem;
}

.form-container-half {
  display: flex;
  justify-content: space-between;
}
.form-container-half .form-select, .form-container-half .form-input {
  width: 45%;
}

.form-extraction {
  width: 100%;
  margin-bottom: 2rem;
}
.form-extraction .form-input {
  margin-bottom: 2rem !important;
}
.form-extraction .form-select {
  margin-bottom: 2rem;
}

.form-input {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
}
.form-input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #3E4E68;
}
.form-input#extractionName {
  width: 70%;
}

.form-select {
  background: transparent;
  border: none;
  border-bottom: 1px solid #c7c3c3;
  color: #3E4E68;
  opacity: 0.7;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 0.5rem;
}

.main-content-mobile {
  display: block;
}
.main-content-mobile .tab-content {
  border-collapse: collapse;
  margin-bottom: 3rem;
  width: 100%;
}
.main-content-mobile .tab-content td {
  padding: 1rem;
  border: 1px solid #d1d0d0;
}

.main-content {
  display: none;
}

@media screen and (min-width: 960px) {
  .main-content-mobile {
    display: none;
  }

  .main-content {
    display: block;
  }
  .main-content .tab {
    border-collapse: collapse;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    margin: 3rem 0;
  }
  .main-content .tab-head {
    text-align: left;
    background-color: #3E4E68;
    color: #fff;
  }
  .main-content .tab th, .main-content .tab td {
    padding: 0.9rem 2rem;
    border-bottom: 1px solid #d1d0d0;
  }
  .main-content .tab .utils {
    text-align: right;
  }
}
.main-aside {
  display: none;
}

.nav-mobile {
  display: block;
  padding: 2rem;
  background-color: #3E4E68;
  height: 2rem;
}
.nav-mobile .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-mobile .nav-user {
  display: flex;
  align-items: center;
}
.nav-mobile .nav-user h2 {
  margin: 0 1rem;
}

@media screen and (min-width: 960px) {
  .main-aside {
    background-color: #3E4E68;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  .main-aside .aside-user {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
    border-bottom: 3px solid #E62F7B;
    width: 100%;
  }
  .main-aside .aside-content {
    padding: 0rem 4.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-aside .aside-content .nav {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }
  .main-aside .aside-content .nav-link {
    margin-top: 2rem;
    color: #fff;
    text-decoration: none;
  }
  .main-aside .aside-content p.logout {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
  }
  .main-aside .aside-content p.logout img {
    margin-right: 0.8rem;
  }

  .nav-mobile {
    display: none;
  }
}
.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: #3E4E68;
}
.main-content.is-center {
  justify-content: center;
}
.main-content .back-link {
  margin-top: 5rem;
  width: 80%;
}
.main-content .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
.main-content a.info {
  margin-bottom: 3rem;
  color: currentColor;
  text-decoration: none;
}
.main-content a.info:hover {
  color: #E62F7B;
  transition: 0.2s;
}
.main-content .info-bottom {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 3rem;
}
.main-content .info-bottom p:last-child {
  color: #E62F7B;
}

@media screen and (min-width: 960px) {
  .main-content a.info {
    align-self: flex-end;
    margin-top: 3rem;
  }
}
@media screen and (min-width: 960px) {
  .grid {
    display: grid;
  }
  .grid.grid-2 {
    grid-template-columns: 50% 50%;
  }
  .grid.grid-main {
    grid-template-columns: 25% auto;
  }
}
.extraction-title {
  margin-bottom: 3rem;
}
.extraction-section {
  display: flex;
  flex-direction: column;
}
.extraction-section .datas {
  display: flex;
  flex-direction: column;
  border: 1px solid #cac8c8;
  padding: 3rem;
  margin-bottom: 2rem;
}

.see-more {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
