@media screen and (min-width: 960px) {
    .grid {
        display: grid;
        &.grid-2 {
            grid-template-columns: 50% 50%;
        }
        &.grid-main {
            grid-template-columns: 25% auto;
        }
    }
}
