.form {
    height: 100vh;
    &-left {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-primary;
    }
    &-right {
        display: flex;
        justify-content: center;
        align-items: center;
        .form-container {
            justify-content: center;
            display: flex;
            flex-direction: column;
            width:60%;
            .form-container-name {
                display: flex;
                justify-content: space-between;
            }
            .form-title {
                margin-bottom: 6rem;
                align-self:center;
            }
            .form-input {
                border-top: none;
                border-left: none;
                border-right: none;
                margin-bottom: 4rem;
                padding-bottom: 1rem;
                &::placeholder{
                    font-family: $font-text;
                    color: $color-primary;
                }
                &#lastname, &#firstname {
                    width: 45%;
                }
            }
            .form-info {
                align-self:flex-start;
                margin-top:8rem;
                font-family: $font-text;
                color: $color-primary;
                width: 40%;
                line-height: 1.5rem;
            }
            .form-btn {
                width:50%;
                align-self: center;
                margin-top:2rem;
            }
        }
       
    }
}

.icon {
    fill: #fff;
}