.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    &.is-center {
        justify-content: center;
    }
    color: $color-primary;
    .back-link {
        margin-top: 5rem;
        width: 80%;
    }
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
    }
    a.info{
        align-self: flex-end;
        margin-top: 3rem;
    }
    .info-bottom {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-bottom: 3rem;
        p:last-child{
            color: $color-secondary;
        }
    }

}