{% extends "base.html.twig" %}
{% block content %}
    <main class="grid grid-main">
       {% include 'parts/_aside.html.twig' %}
        <div class="main-content">
            <div class="container">
                {% block adminMain %}{% endblock %}
            </div>
        </div>
    <main>
{% endblock %}

