{% extends "admin/admin-base.html.twig" %}

{% block adminMain %}
    <div class="main-content">
        <a href="/dashboard" class="back-link">Back</a>
        <div class="container">
            <h1 class="title is-2 extraction-title">New extraction</h1>
            <form action="" method="post" class="form-extraction">
                <section>
                    <div class="flex-center">
                        <input type='text' id='extractionName' name='extractionName' placeholder='Name of extraction *' class='form-input'/>
                    </div>
                    <div class="form-container-half">
                        <input type='text' id='url' name='url' placeholder='URL of extraction *' class='form-input'/>
                        <select name="periodicity" id="periodicity" class="form-select">
                            <option value="">Periodicity *</option>
                            <option value="1/day">1/day</option>
                            <option value="1/week">1/week</option>
                            <option value="1/month">1/month</option>
                            <option value="1/year">1/year</option>
                        </select>
                    </div>
                    <div class="form-container-half">
                        <select name="type" id="type" class="form-select type-select">
                            <option value="">Type *</option>
                            <option value="simple">Simple</option>
                            <option value="multiplicity">Multiplicity</option>
                        </select>
                        <select name="category" id="category" class="form-select">
                            <option value="">Category *</option>
                            <option value="information">Information</option>
                            <option value="compare">Compare</option>
                            <option value="price">Price</option>
                            <option value="1/year"></option>
                        </select>
                    </div>
                </section>
                <section class="extraction-section">
                    <h2 class="title is-3">Container</h2>
                    <input type='text' id='primaryContainer' name='primaryContainer' placeholder='Primary *' class='form-input'/>
                    <input type='text' id='secondaryContainer' name='secondaryContainer' placeholder='Secondary' class='form-input'/>
                </section>
                <section class="extraction-section">
                    <h2 class="title is-3">Datas</h2>
                    <div class="datas">
                        <input type='text' id='dataName' name='dataName[1]' placeholder='Name *' class='form-input'/>
                        <select name="dataType[1]" id="dataType" class="form-select">
                            <option value="">Type *</option>
                            <option value="text">Text</option>
                            <option value="number">Number</option>
                            <option value="price">Price</option>
                        </select>
                        <input type='text' id='dataPath' name='dataPath[1]' placeholder='Path *' class='form-input'/>
                    </div>
                    <div class="see-more">
                       <button class="btn-more" type="button"><img src="{{ assets('images/plus.svg') }}" alt="" width="20"></button>
                    </div>
                </section>
                <div class="flex-center">
                    <button type="submit" class="btn btn-secondary is-small">Go !</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
